
body{
	font-family: 'Open Sans', sans-serif;
}

ul, li{
	display: block;
}
.menu__link:hover{
	color: #fff;
	text-decoration: underline;
}
.menu__link{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	margin: 0 15px;
}
a{
	text-decoration: none;
}
.wrappper{
	overflow: hidden;
	min-height: 100%;
}
.header{
	background: url(../img/bg.png) no-repeat;
	background-size: cover;
	padding: 29px 0 207px;
}
.menu__list{
	display: flex;
	justify-content: flex-end;
	padding: 0 -15px;
}
.menu__list li{
	position: relative;
}
.menu__list li:hover .sub-menu__list{
	display: block;
}
.contacts__tel{
	background: url(../img/tel.svg) no-repeat left center;
	padding-left: 22px;
}
.contacts__call{
	padding-left: 22px;
}
.contacts{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.contacts:hover{
	color: #fff;
}
.sub-menu__list{
	position: absolute;
	left: -10px;
	top: 20px;
	display: none;
	padding-top: 20px;
	width: 380px;
	
}
.sub-menu__list>li{
		background: #fff;
		padding: 10px 15px;
}
.sub-menu__link{
	color: #000;
	text-decoration: none;
}
.header__title{
	font-family: 'Play', sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 121px;
	margin-bottom: 20px;
}
.header__sub-title{
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}
.header__button{
	display: block;
	max-width: 240px;
	text-align: center;
	background: #1B6EB8;
	border-radius: 6px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Play', sans-serif;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
}
.header__items{
	display: flex;
	justify-content: center;
	padding: 0 -30px;
	flex-wrap: wrap;
}
.header__item{
	height: 45px;
	line-height: 45px;
	margin: 0 30px;
	margin-top: 45px;
	color: #fff;
	font-size: 14px;
	line-height: 45px;
	padding-left: 60px;
}
.item1{
	background: url(../img/01.svg) no-repeat left center;
}
.item2{
	background: url(../img/02.svg) no-repeat left center;
}
.item3{
	background: url(../img/03.svg) no-repeat left center;
}
@media (max-width: 1200px) {
	.header__item{

	}
	.menu__list {
    	display: flex;
    	justify-content: center;
		 margin: 20px 0;
		 flex-wrap: wrap;
		 padding-left: 0;
	}
	.contacts{
		align-items: center;
	}
	.header__title{
		font-size: 40px;
	}
	.header{
		padding-bottom: 100px;
	}
}
@media (max-width: 450px){
	.header__title{
		font-size: 25px;
		line-height: 30px;
	}
}
@media (max-width: 767px){
	.header__item{
		margin-left: 0;
	}
	.header__title{
		margin-top: 50px;
	}
}
.about{
	padding-top: 153px;
	background: url(../img/bg2.png) no-repeat center bottom;
	background-size: 100%;
	padding-bottom: 71px;
}
.underline{
	font-family: Play;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	display: inline-block;
	position: relative;
}
.underline:after{
	content: "";
	background: #B3DBFF;
	width: 100%;
	height: 12px;
	position: absolute;
	top: 20px;
	left: 0;
	z-index: -1;
}
.about__text{
	font-size: 16px;
	line-height: 20px;
	color: #000;
	max-width: 830px;
	margin-bottom: 196px;
}
.about__bottom{
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	max-width: 830px;
}
@media (max-width: 1200px){
	.about{
		padding-top: 50px;
		padding-bottom: 50px;
		background: none;
	}
	.about__bottom{
		color: #000;
	}
	.about__text{
		margin-bottom: 50px;
	}
}
.services{
	padding-top: 137px;
}
.services__buttons-title{
	font-size: 24px;
	line-height: 30px;
	font-family: play;
	text-align: center;
	max-width: 426px;
	margin: 100px auto 0;
}
.reg{
	font-weight: normal;
}
.button-stay{
	background: #1B6EB8;
	border-radius: 6px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 14px;
	padding: 18px 0;
	max-width: 241px;
	text-align: center;
}
.services__buttons-button{
	margin: 58px auto 90px;
}
.services__buttons{
	max-width: 560px;
	text-align: center;
	margin-top: 180px;
	
}
.services__item{
	max-width: 560px;
}
.services__item-text{
	font-family: Play;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 35px;
}
.services__item-img img{
	width: 100%;
}
.services__item{
	margin-bottom: 53px;
}
.services__show{
	font-family: Play;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #000;
	position: relative;
}
.services__show:after{
	content: '';
	display: block;
	background: url(../img/Arrow.png) no-repeat center center;
	position: absolute;
	top: 50%;
	right: -68px;
	width: 43px;
	height: 6px;
}

.works{
	padding-top: 250px;
}
.works__images-big{
	margin-top: 80px;
	margin-bottom: 10px;
}
.works__images-big img{
	width: 100%;
}
.works__form{
	text-align: center;
}
.works__form-adress{
	font-weight: bold;
	font-size: 24px;
	font-family: play;
	color: #000;
	margin-bottom: 35px;
	margin-top: 80px;
}
.works__form-button{
	margin: 0 auto;
}
.works-left{
	text-align: left;
}
.button-left{
	margin-left: 0;
}
.works__button{
	margin: 67px auto 0;
	max-width: 267px;
}
@media (max-width: 500px){
	.works{
		padding-top: 50px;
	}
	.works-left{
		text-align: center;
	}
	.button-left{
		margin: 0 auto;
	}
}
@media (max-width: 1200px){
	.works__form-button{
		margin: 0 auto;
	}
	.works__form-adress{
		text-align: center;
	}
	.or-5{
		order: 5;
	}
	.or-2{
		order: 2;
	}
	.services__buttons{
		margin: 0 auto;
	}
	.services__item{
		margin: 0 auto;
	}
}
.stage{
	padding-top: 268px;
	background: url(../img/bg-3.png) no-repeat center;
}
.letter{
	margin-top: 130px;
	padding-top: 40px;
	background: url(../img/bg-4.png) no-repeat;
	background-size: cover;
}
.whit{
	color: #fff;
	margin-bottom: 80px;
	padding-bottom: 85px;
}
.cen{
	text-align: center;
}
.cen img{
	margin-bottom: 20px;
	width: 100%;
}
.footer{
	padding-top: 92px;
	padding-bottom: 80px;
}
.footer__contacts{
	display: flex;
	flex-wrap: wrap;
}
.footer__item img{
	margin-bottom: 20px;
	width: 30px;
}
.footer__item{
	margin-right: 38px;
	font-size: 14px;
	color: #000000;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.mg{
	margin-right: 58px;
}
@media (max-width: 1200px){
	.footer__contacts{
		flex-direction: column;
	}
}
.footer__carts{
	display: flex;
	background: #000;
	width: 980px;
	margin: 20px auto 0;
}
.footer__cart{
	width: 100%;
}
.footer__cart{
	margin: 20px;
}
@media (max-width: 1200px){
	.footer__item{
		text-align: center;
		margin: 20px 0;
	}
	.footer__item img{
		margin: 0 auto;
	}
	.footer__it{
		text-align: center;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.footer__carts{
		flex-direction: column;
		width: 90%;
		text-align: center;
	}
	.footer__cart{
		margin: 0;
	}
	.footer__cart iframe{
		width: 90%;
		height: 200px;
	}
}